<div id="post-{{id}}" class="post">
  <p class="post-info">Posted by <a href="/user/{{user.id}}">{{user.username}}</a> on {{format_date createdAt}}</p>
  <h2 class="post-title">{{title}}</h2>
  <p class="post-content">{{content}}</p>
  <div class="post-comments">
    <input class="comment-input" placeholder="Add a comment..."></input>
    <p class="comment">Comment</p>
    <p class="comment">Comment</p>
    <p class="comment">Comment</p>
  </div>
  <p class="show-comments">{{comments.length}} comments</p>
</div>